<a href="https://colab.research.google.com/github/JCSR2022/2024-1/blob/main/inmuebles_cdmx.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Proyecto practico Proceso ETL usando Pandas


Fuimos contratados como cient칤ficos de datos por una empresa inmobiliaria para apoyar al equipo de Aprendizaje Autom치tico y Desarrollo. Contamos con un tablero en Trello con las tareas del proyecto y una base de datos para su desarrollo.

https://trello.com/b/LLvoL2ZH/pandas101

Base de datos:
https://gist.githubusercontent.com/ahcamachod/a572cfcc2527046db93101f88011b26e/raw/ffb13f45a79d31223e645611a119397dd127ee3c/alquiler.csv

## Importar la base de datos


Se utilizara pandas para importar y analizar los datos

In [1]:
import pandas as pd
file_address = "https://gist.githubusercontent.com/ahcamachod/a572cfcc2527046db93101f88011b26e/raw/ffb13f45a79d31223e645611a119397dd127ee3c/alquiler.csv"
df = pd.read_csv(file_address)

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25121 entries, 0 to 25120
Data columns (total 1 columns):
 #   Column                                                                   Non-Null Count  Dtype
---  ------                                                                   --------------  -----
 0   Tipo;Colonia;Habitaciones;Garages;Suites;Area;Valor;Condominio;Impuesto  25121 non-null  object
dtypes: object(1)
memory usage: 196.4+ KB

### Identificacion de problemas en importacion de datos

El separador para el archivo .csv es ";" en vez de "," se debe ajustar la importacion.

notas sobre el principales ajustes y par치metros 칰tiles de pd.read_csv() en pandas 游녢


| Par치metro                          | Descripci칩n                                                                       | Ejemplo                                 |
| ---------------------------------- | --------------------------------------------------------------------------------- | --------------------------------------- |
| **`sep`**                          | Define el separador entre columnas.                                               | `sep=";"`, `sep="\t"` (tabulador)       |
| **`encoding`**                     | Controla la codificaci칩n del archivo (칰til para acentos o caracteres especiales). | `"utf-8"`, `"latin-1"`, `"ISO-8859-1"`  |
| **`header`**                       | Indica si la primera fila es el encabezado o no.                                  | `header=0` (por defecto), `header=None` |
| **`names`**                        | Asigna nombres de columnas si el archivo no tiene encabezado.                     | `names=["col1", "col2"]`                |
| **`usecols`**                      | Carga solo columnas espec칤ficas.                                                  | `usecols=["nombre", "edad"]`            |
| **`index_col`**                    | Usa una columna como 칤ndice del DataFrame.                                        | `index_col="id"`                        |
| **`dtype`**                        | Define el tipo de dato de cada columna.                                           | `dtype={"edad": int, "nombre": str}`    |
| **`na_values`**                    | Especifica valores que deben considerarse como NaN.                               | `na_values=["NA", "null", "-"]`         |
| **`skiprows`**                     | Salta un n칰mero de filas al inicio o una lista espec칤fica.                        | `skiprows=2` o `skiprows=[0,1,3]`       |
| **`nrows`**                        | Lee solo un n칰mero limitado de filas.                                             | `nrows=100`                             |
| **`parse_dates`**                  | Convierte columnas a formato de fecha autom치ticamente.                            | `parse_dates=["fecha"]`                 |
| **`decimal`**                      | Cambia el s칤mbolo usado para decimales.                                           | `decimal=","`                           |
| **`quotechar`**                    | Define el car치cter usado para encerrar textos.                                    | `quotechar='"'`                         |
| **`error_bad_lines`** *(obsoleto)* | Ignoraba filas con errores de formato. Ahora usar `on_bad_lines`.                 | `on_bad_lines="skip"`                   |
| **`on_bad_lines`**                 | Controla qu칠 hacer con l칤neas mal formadas.                                       | `"error"`, `"skip"`, `"warn"`           |

In [5]:
import pandas as pd

file_address = "https://gist.githubusercontent.com/ahcamachod/a572cfcc2527046db93101f88011b26e/raw/ffb13f45a79d31223e645611a119397dd127ee3c/alquiler.csv"

df = pd.read_csv(file_address, sep=";" , encoding="utf-8")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25121 entries, 0 to 25120
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Tipo          25121 non-null  object
 1   Colonia       25121 non-null  object
 2   Habitaciones  25121 non-null  int64
 3   Garages       25121 non-null  int64
 4   Suites        25121 non-null  int64
 5   Area          25121 non-null  int64
 6   Valor         25107 non-null  float64
 7   Condominio    22495 non-null  float64
 8   Impuesto      18037 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.7+ MB

## Verificar caracter칤sticas generales

*   Cantidad de filas y columnas.
*   columnas de la base de datos.
*   Explorar y Verificar los tipos de datos.